
.checkauth__button {
    margin-top: 3rem;
    margin-left: 3rem;

    h3 {

        font-size: 2rem;
    }
}

.video__button {

    margin-top: 3rem;
    margin-left: 3rem;
}

.payment {

    
    max-width: 80rem;
    //background-color: aqua;
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;

    a {

        font-size: 3rem;
        text-decoration: none;

        padding: 1rem;
        background-color: gray;
        color: white;
        border-radius: 0.3rem;
    }
}
@import './abstracts/variables';

@import './base/base';

@import './components/button';
@import './components/form';
@import './components/navbar';

@import './pages/form-page'